.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
}

.arrowContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #007bff; /* Arrow color */
  animation: arrowAnimation 2.5s infinite;
  opacity: 0;
}

.arrow:nth-child(1) {
  animation-delay: 0s;
}

.arrow:nth-child(2) {
  animation-delay: 0.5s;
}

.arrow:nth-child(3) {
  animation-delay: 1s;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
